#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/* ================================
 * LAYER TAP CONFIG
 * HOLD = layer
 * TAP = key
 * VERY FAST BUT USABLE
 * ================================ */
&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <180>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <25 26 27>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
        };

        minus2 {
            bindings = <&kp MINUS>;
            key-positions = <17 16>;
        };
    };

    behaviors {
        control_alt_macro: control_alt_macro {
            compatible = "zmk,behavior-macro";
            label = "CONTROL_ALT";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp LALT>;
        };

        alt_tab_macro: alt_tab_macro {
            compatible = "zmk,behavior-macro";
            label = "ALT_TAB_MACRO";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
        };

        shift_space_to_enter: shift_space_to_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_SPACE_TO_ENTER";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp ENTER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        toggle_mouse_layer: toggle_mouse_layer {
            compatible = "zmk,behavior-macro";
            label = "TOGGLE_MOUSE_LAYER";
            #binding-cells = <0>;
            bindings = <&kp F11>, <&tog 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp F9    &kp Q  &kp W  &kp D  &kp F   &kp G   &kp Y  &kp J  &kp K   &kp L  &kp P   &kp SEMI
&kp COLON  &kp A  &kp S  &kp E  &kp R   &kp T   &kp H  &kp U  &kp I   &kp O  &kp N   &kp BACKSPACE
&kp LC(C)  &kp Z  &kp X  &kp C  &kp V   &kp B        &kp UNDER &kp M &kp COMMA &kp DOT &kp ENTER &kp LC(V)
                &mo 2    &kp LSHIFT   &mo 1   &kp ESCAPE  &kp SPACE   &mo 4
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
&kp LA(PRINTSCREEN) &kp BACKSPACE &kp ENTER  &kp DOUBLE_QUOTES  &kp LC(Z) &kp AT &kp DOUBLE_QUOTES &kp LWIN &kp LC(W)  &kp TAB &kp F10 &kp ESCAPE
&kp F13  &kp F1 &kp F2 &kp F3 &kp F4 &kp LC(N6) &kp LC(N7) &kp  LC(N1) &kp LC(N2) &kp LC(N3) &kp LC(N4) &kp LC(N5)
&kp BACKSPACE &kp LS(F1) &kp LS(F2) &kp LS(F3) &kp LS(F4) &kp S &kp LEFT_ARROW &kp DOWN_ARROW &kp UP_ARROW &kp RIGHT_ARROW  &kp FSLH &kp HASH
                    &trans &trans &kp F1 &kp SEMI &kp F12 &kp LC(A)
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
&trans &trans &trans &kp LEFT_BRACKET &kp RIGHT_BRACKET &trans &kp CARET &kp ASTRK &kp PLUS &kp MINUS &kp TILDE &kp BACKSLASH
&kp LESS_THAN &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp GREATER_THAN
 &trans &trans &trans &trans &trans &kp DOLLAR &kp HASH &kp EQUAL &trans &trans &kp FSLH &trans
                  &trans   &trans &trans &kp EQUAL &kp PRCNT &kp SINGLE_QUOTE
            >;
        };

        adjust_layer {
            label = "Adjust";
            bindings = <
&kp ESCAPE   &kp Q  &kp W  &kp D  &kp F   &kp G   &kp Y  &kp J  &kp K   &kp L  &kp P   &kp BACKSPACE
&kp ENTER  &kp A  &kp S  &kp E  &kp R   &kp T   &kp H  &kp U  &kp I   &kp O  &kp N   &kp ESCAPE
&tog 3 &kp Z  &kp X  &kp C  &kp V   &kp B        &kp COLON &kp M &kp COMMA &kp DOT &kp ENTER &kp LC(V)
                 &kp O  &kp I &kp N &kp M &kp H &trans
            >;
        };

        mouse_layer {
            label = "Mouse";
            bindings = <
 &kp ESCAPE &kp BACKSLASH &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &trans &kp MINUS &trans &trans &trans &trans &trans
&kp PIPE &kp SEMI &kp AMPS &kp LPAR &kp RPAR &kp HASH &kp DOLLAR &kp LBRC &kp RBRC &kp EXCLAMATION &kp QMARK &kp HASH
&trans &trans &kp LEFT_ARROW &kp UP_ARROW &kp F8 &kp GRAVE &trans &out OUT_BLE &out OUT_TOG &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1
                    &kp F12 &kp PIPE &kp DOLLAR &trans &trans &kp D
            >;
        };
    };
};
