
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";
        
        print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <25 26 27>;
        };
        
        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
        };
        
        minus2 {
            bindings = <&kp MINUS>;
            key-positions = <17 16>;
        };
    };
    
    behaviors {
        control_alt_macro: control_alt_macro {
            compatible = "zmk,behavior-macro";
            label = "CONTROL_ALT";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp LALT>;
        };

        
        alt_tab_macro: alt_tab_macro {
            compatible = "zmk,behavior-macro";
            label = "ALT_TAB_MACRO";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
        };
        
        shift_space_to_enter: shift_space_to_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_SPACE_TO_ENTER";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp ENTER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        
        toggle_mouse_layer: toggle_mouse_layer {
            compatible = "zmk,behavior-macro";
            label = "TOGGLE_MOUSE_LAYER";
            #binding-cells = <0>;
            bindings = <&kp F11>, <&tog 4>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        // TODO add tab key so that u can tab throuh dialhuge
        default_layer {
            label = "Base";
            bindings = <
&kp TAB     &kp Q  &kp W  &kp D  &kp F   &kp G   &kp Y  &kp J  &kp K   &kp L  &kp P   &kp BACKSPACE
&kp GRAVE  &kp A  &kp S  &kp E &kp R  &kp T   &kp H  &kp U  &kp I   &kp O  &kp N &kp ESCAPE
 &kp LC(C)   &kp Z  &kp X  &kp C  &kp V   &kp B       &kp COLON &kp M &kp COMMA &kp DOT  &kp ENTER     &kp LC(V)
                            &mo 2  &kp LSHIFT &mo 1        &kp F15 &kp SPACE  &mo 4
            >;
        };// TODO switching wont work from layres, we need to replace mo 1 with ctrl-alt, then we need to use the komorebi ahk script to 
// catch the ctrl-alt-other keys and map them to what we want
        
        lower_layer {
            label = "Lower";
            bindings = <
&kp GRAVE  &kp LC(N1)  &kp QMARK   &kp LBRC  &kp AT  &kp PRCNT  &kp DOUBLE_QUOTES    &kp LA(TILDE)      &kp COMMA    &kp LC(Z)       &kp EXCLAMATION       &kp LC(W)
&kp SEMI     &kp F1    &kp F2   &kp F3    &kp F4   &kp F5     &kp F6  &kp LC(N1)  &kp LC(N2)  &kp LC(N3)  &kp LC(N4)  &kp LC(N5)
&kp AMPS     &kp LS(F1)    &kp LS(F2) &kp LS(F3)    &kp LS(F4)     &kp S     &kp S   &kp  S   &kp EXCLAMATION    &kp DOLLAR   &kp AT         &kp FSLH          &kp SINGLE_QUOTE
                              &trans    &trans     &mo 3      &kp UNDER        &kp   LA(TAB)   &kp QMARK
            >;
        };
        
        raise_layer {
            label = "Raise";
            bindings = <
&kp ESCAPE &kp S &kp AT &kp LBRC &kp FSLH &kp EQUAL &kp CARET &kp ASTRK &kp PLUS &kp MINUS &kp GRAVE &kp BACKSPACE
&kp LESS_THAN       &kp N1  &kp N2        &kp N3          &kp N4      &kp N5  &kp N6  &kp N7  &kp N8  &kp N9 &kp N0 &kp GREATER_THAN
&trans      &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp DOLLAR      &kp HASH  &kp QMARK  &kp EXCLAMATION &kp COMMA &kp FSLH  &trans
                            &trans        &trans          &kp UNDER   &kp EXCL   &kp QMARK  &trans
            >;
        };
        
        adjust_layer {
            label = "Adjust";
            bindings = <
&none   &none   &none   &kp C_VOL_UP     &kp C_MUTE  &kp LC(R)  &kp X  &kp C_VOL_UP      &kp C_VOL_DN   &kp UP  &kp UP  &kp DOLLAR
&kp PRCNT  &kp LC(A)  &kp   LC(Z) &kp LC(C)  &kp   LC(V)    &kp  LWIN &kp  MINUS    &kp LC(V)   &kp LEFT    &kp DOWN   &kp RIGHT   &none
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11      &kp F12  &none         &sys_reset  &none         &none   &none   &none
                        &trans   &trans       &trans   &trans        &trans      &trans   
            >;
        };
        
        mouse_layer {
            label = "Mouse";
            bindings = <
&trans     &kp C_MUTE     &kp BACKSLASH     &kp C_VOL_UP     &kp C_MUTE      &kp DOUBLE_QUOTES     &trans     &kp LC(V)     &kp LALT     &kp AT     &trans    &trans
&kp LC(A)         &kp SEMI   &kp PERCENT &kp LPAR     &kp RPAR     &kp LEFT_BRACKET     &kp RIGHT_BRACKET     &kp LBRC     &kp RBRC     &kp EXCLAMATION      &kp QMARK      &kp HASH
&trans     &trans      &trans     &kp SINGLE_QUOTE       &kp LEFT_BRACKET     &kp RIGHT_BRACKET   &trans     &trans     &trans     &trans     &trans    &trans
                                  &kp LC(V)   &kp LWIN         &kp LC(C)     &trans     &trans     &kp D
            >;
        };
    };
};
