#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

 / {
    combos {
        compatible = "zmk,combos";

        print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <25 26 27>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
        };

        minus2 {
            bindings = <&kp MINUS>;
            key-positions = <17 16>;
        };
    };

    behaviors {
        alt_tab_macro: alt_tab_macro {
            compatible = "zmk,behavior-macro";
            label = "ALT_TAB_MACRO";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        ...
